<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="edu.berkeley.eecs.emission.cordova.shakedetect"
        version="1.0.0">

  <name>ShakeNotification</name>
  <description>Shake detection for incident reporting </description>
  <author>Felipe Arias (felipea2@illinois.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
  </engines>

  <asset src="www/ui/ionic/templates/main-shake-detect-settings.html" target="templates/control/main-shake-detect-settings.html"/>
  <asset src="www/ui/ionic/templates/shake-detect-display-detail.html" target="templates/control/shake-detect-display-detail.html"/>
  <asset src="www/ui/ionic/js/shake-detect-settings.js" target="js/control/shake-detect-settings.js"/>

  <js-module src="www/shakedetect.js" name="shakedetect">
    <clobbers target="cordova.plugins.BEMShakeNotification" />
  </js-module>

  <!--
    Dependency checking on iOS does not work well - if the same dependency
    exists in multiple files, it inserts them over and over and finally fails

  <dependency id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
                url="https://github.com/e-mission/cordova-unified-logger.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.settings"
                url="https://github.com/e-mission/cordova-connection-settings.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.serversync"
                url="https://github.com/e-mission/cordova-server-sync.git"/>
  -->

    <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ShakeNotification">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.shakedetect.ShakeNotifier"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver
            android:name="edu.berkeley.eecs.emission.cordova.shakedetect.ShakeNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="local.transition.initialize"></action>
                <action android:name="local.transition.exited_geofence"></action>
                <action android:name="local.transition.stopped_moving"></action>
                <action android:name="local.transition.stop_tracking"></action>
                <action android:name="local.transition.start_tracking"></action>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="edu.berkeley.eecs.emission.cordova.shakedetect.ShakeDetector"></service>
    </config-file>

    <source-file src="src/android/ShakeDetector.java" target-dir="src/edu/berkeley/eecs/emission/cordova/shakedetect"/>
    <source-file src="src/android/ShakeNotificationReceiver.java" target-dir="src/edu/berkeley/eecs/emission/cordova/shakedetect"/>
    <source-file src="src/android/ShakeNotifier.java" target-dir="src/edu/berkeley/eecs/emission/cordova/shakedetect"/>
    <source-file src="src/android/wrapper/AccelerometerReading.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>
    <source-file src="src/android/wrapper/PotentialIncident.java" target-dir="src/edu/berkeley/eecs/emission/cordova/tracker/wrapper"/>



  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="ShakeNotification">
        <param name="ios-package" value="BEMShakeNotifier" />
      </feature>
    </config-file>

    <header-file src="src/ios/BEMShakeNotifier.h"/>
    <header-file src="src/ios/Wrapper/AccelerometerReading.h" target-dir="Wrapper"/>
    <header-file src="src/ios/Wrapper/PotentialIncident.h" target-dir="Wrapper"/>

    <source-file src="src/ios/BEMShakeNotifier.m"/>
    <source-file src="src/ios/Wrapper/AccelerometerReading.m" target-dir="Wrapper"/>
    <source-file src="src/ios/Wrapper/PotentialIncident.m" target-dir="Wrapper"/>

  </platform>

</plugin>
